<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- saved from url=(0041)http://www.dominos.com.my/onlineorder.asp -->
<HTML><!-- #BeginTemplate "/Templates/index.dwt" --><HEAD><TITLE>Online Order</TITLE><!-- DW6 --><!-- #BeginEditable "doctitle" --><!-- #EndEditable -->
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
<SCRIPT language=JavaScript>
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v3.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</SCRIPT>

<STYLE>A:visited {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #3333ff; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #996633; TEXT-DECORATION: underline
}
</STYLE>

<META content="MSHTML 6.00.6001.18000" name=GENERATOR></HEAD>
<BODY bgColor=#bfd5f7 leftMargin=0 topMargin=0 
onload="MM_preloadImages('images/bt-homea.gif','images/bt-onlineordera.gif','images/bt-customerordera.gif','images/bt-menua.gif','images/bt-valuemealseta.gif','images/bt-promotiona.gif','images/bt-guranteesa.gif','images/bt-abouta.gif','images/bt-storesa.gif','images/bt-faqa.gif','images/bt-joina.gif','images/bt-contacta.gif')" 
marginheight="0" marginwidth="0">
<TABLE cellSpacing=0 cellPadding=0 width=639 border=0>
  <TBODY>
  <TR>
    <TD colSpan=3><A href="http://www.dominos.com.my/index.html"><IMG 
      height=79 alt="Domino's Pizza" src="images/topbanner.gif" 
      width=783 border=0></A></TD></TR>
  <TR>
    <TD vAlign=top borderColor=#0 width=137 bgColor=#ffbe40 rowSpan=3>
      <P align=right><A 
     
      
      onmouseover="MM_swapImage('Image2','','images/bt-onlineordera.gif',1)"  
      onmouseout=MM_swapImgRestore() 
       <a href="http://localhost:3000/dominos/new" target="_blank"><IMG height=40 
      src="images/bt-onlineorder.gif" width=136 border=0 
      name=Image2></A><BR><A 
      onmouseover="MM_swapImage('Image3','','images/bt-customerordera.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      <a href="http://localhost:3000/dominos" target="_blank"><IMG height=40 
      src="images/bt-customerorder.gif" width=136 border=0 
      name=Image3><BR></A><A 
      <P align=center><A 
      href="http://www.dominos.com.my/guarantees.html#Halal"><IMG height=51 
      alt=Halal src="images/Halal-Logo.gif" width=50 
      border=0></A><A 
      href="http://www.dominos.com.my/guarantees.html#30minutes"><IMG height=51 
      alt="30 minutes delivery" src="images/30min-Logo.gif" 
      width=50 border=0></A> </P>
      <P align=center><A 
      href="http://www.dominos.com.my/guarantees.html#guarantees"><IMG 
      alt="Product Guarantees" src="images/pro-guarantees.gif" 
      border=0></A><IMG height=51 alt="Perfect Italiano" 
      src="images/Perfect_small.gif" width=50 border=0> </P></TD>
    <TD vAlign=top borderColor=#0 align=left width=50 
    background=Online%20Order_files/sidea.gif height=6 rowSpan=3>
      <DIV align=left><IMG height=521 src="images/side.gif" 
      width=26></DIV></TD>
    <TD vAlign=top height=6><IMG height=11 src="images/top.gif" 
      width=620></TD></TR>
  <TR>
    <TD vAlign=center align=left>
      <SCRIPT language=javascript>
<!--
if (navigator.appName == 'Microsoft Internet Explorer' )
{
document.write("<marquee><img src='images/anibike.gif' align='absmiddle'><img src='images/flag-phone.gif' align='absmiddle'><img src='images/flag1.gif' align='absmiddle'><img src='images/flag-phone.gif'  align='absmiddle'><img src='images/flag2.gif' align='absmiddle'><img src='images/flag-phone.gif' align='absmiddle'><img src='images/flag3.gif'  align='absmiddle'><img src='images/flag-phone.gif' align='absmiddle'><img src='images/flag4.gif'  align='absmiddle'></marquee>");
}
if (navigator.appName == 'Netscape')
{
document.write("<marquee><img src='images/anibike.GIF' align='absmiddle'><img src='images/flag-phone.GIF' align='absmiddle'><img src='images/flag1.GIF' align='absmiddle'><img src='images/flag-phone.GIF'  align='absmiddle'><img src='images/flag2.GIF' align='absmiddle'><img src='images/flag-phone.GIF' align='absmiddle'><img src='images/flag3.GIF'  align='absmiddle'><img src='images/flag-phone.GIF' align='absmiddle'><img src='images/flag4.GIF'  align='absmiddle'></marquee>");
}
//-->
</SCRIPT>
    </TD></TR>
  <TR>
    <TD vAlign=top><!-- #BeginEditable "content" -->
      <SCRIPT language=javascript>

<!--
var cadd1 = 0;
var chkadd = 0;

function valresi(rad)
{
	if (navigator.appName == "Netscape")
	{
//		if (document.forms[1].radiobutton[0].checked == true)
		if (rad == "Resident")
		{	
			document.forms[1].txtresident.disabled = false;
		}
		else
		{
			document.forms[1].txtresident.value = "";
			document.forms[1].txtresident.disabled = true;
		}	
	}
	else
	{
		if (document.forms[1].radiobutton[0].checked)
		{	
			resi2.style.color = "#000000";
			document.forms[1].txtresident.disabled = false;
		}
		else
		{
			resi2.style.color = "#BFD5F7";
			resi1.style.color = "#000000";
			document.forms[1].txtresident.value = "";
			document.forms[1].txtresident.disabled = true;
		}	
	}
}

function isEmpty(varStr)
{
        var temp, i, varEmpty
        
        varEmpty=true;
        temp = varStr;
        
        if (temp=="")
        return true;
                       
        for (var i=0; i<=temp.length-1; i++)

        {
                if (temp.charAt(i) != " " && temp.charAt(i) != "")
                {
                        varEmpty= false;
                }
        }

        return(varEmpty) ;   
}
                
                
function checkfora(varStr1)
{
        var temp1, j, varEmpty1
        
        varEmpty1=true;
        temp1 = varStr1;
        
        if (temp1=="")
        return true;
                       
        for (var j=0; j<=temp1.length-1; j++)
        {
                if (temp1.charAt(j) == "@" && temp1.charAt(j) == "@")
                {
                varEmpty1= false;
                }
        }
        return(varEmpty1) ;   
}
             
                
function ValidateData(whichele)
{

		if (whichele == 0)
		{
 			if (isEmpty(document.forms[whichele].elements[0].value))
        		{
			        alert("Please Enter Your Member ID");      
			        return;
        		}
			if (isEmpty(document.forms[whichele].elements[1].value))
        		{
			        alert("Please Enter Your Password");      
			        return;
        		}
				
		}
document.forms[whichele].submit();               
} 

function validatedata1(whichele)
{ 
chknf = 0;
chkmid = 0;
chkpwd = 0;
chkcpwd = 0;
chkp1 = 0;
chkadr = 0;
chkpsc = 0;
chkst = 0;
chkresi = 0;
chkresi1 = 0;
chkage = 0;
chkdob = 0;

		if (whichele == 1)
		{ 
			if (navigator.appName == "Netscape")
			{
	      		if (document.forms[whichele].txtfname.value == "" )
    	    	{
					chknf = 1;
	        	}
	        	if (document.forms[whichele].txtlogname.value == "")
	        	{
					chkmid = 1;
	        	}
				
				if (document.forms[whichele].password2.value == "")
	        	{
					chkpwd = 1;
		        }
	
				if (document.forms[whichele].password3.value == "")
	        	{
					chkcpwd = 1;
		        }
	
				if (document.forms[whichele].txtpcode1.value == "" || document.forms[whichele].txtphone1.value == "")
	        	{
					chkp1 = 1;
		        }
				//newly added
				else
				{
					cvalue = document.forms[whichele].txtphone1.value;
					if (cvalue.length < 7)
					{
					chkp1 = 1;
					}
				//end newly added
				}
				if (document.forms[whichele].agegroup.value == "")
	        	{
					chkage = 1;
		        }
	
				if (document.forms[whichele].txtadd11.value == "")
	        	{
					chkadr = 1;
		        }
	
				if (document.forms[whichele].txtpostcode1.value == "")
				{
					chkpsc = 1;
				}
//				if (document.forms[whichele].radiobutton[0].checked == false && document.forms[whichele].radiobutton[1].checked == false && document.forms[whichele].radiobutton[2].checked == false)
//				{
//					chkresi = 1;
//				}
				if (document.forms[whichele].radiobutton[0].checked == true && document.forms[whichele].txtresident.value == "")
				{
					chkresi1 = 1;
				}
	
				ind = document.forms[whichele].state1.selectedIndex;
				value1 	= document.forms[whichele].state1.options[ind].value;			
				if (value1 == "")
				{
					chkst = 1;
				}

				ind4 = document.forms[whichele].dob1.selectedIndex;
				value4 	= document.forms[whichele].dob1.options[ind4].value;
				ind5 = document.forms[whichele].dob2.selectedIndex;
				value5 	= document.forms[whichele].dob2.options[ind5].value;			
				ind6 = document.forms[whichele].dob3.selectedIndex;
				value6 	= document.forms[whichele].dob3.options[ind6].value;

				if (value4 == "" || value5 == "" || value6 == "")
				{
					chkdob = 1;
				}
				else
				{
					if (value4.length!=2)
					{
						value4 = "0"+value4;
					}
					else
					{
						value4 = value4;
					}
	
					if (value5.length!=2)
					{
						value5 = "0"+value5;
					}
					else
					{
						value5 = value5;
					}
	
					var birthdate = value4+"/"+value5+"/"+value6;			
					//alert(birthdate);
					//alert(value4);
						if(validate(birthdate))
						{
							
						}
						else
						{
							chkdob = 1;
							return false;
						}
				}

	        	if (document.forms[whichele].txtlogname.value != "")
				{
					findEmailAddresses(document.forms[whichele].txtlogname.value);
					if (chkadd == 1)
					{	
						return false;
					}	
					
				}

			}
			else
			{
	      		if (document.forms[whichele].txtfname.value == "" )
    	    	{
					chknf = 1;
					nf.style.color = "#ff0000";
	        	}
				else
				{
					nf.style.color = "#000000";
				}
	        	if (document.forms[whichele].txtlogname.value == "")
	        	{
					mid.style.color = "#ff0000";
					chkmid = 1;
	        	}
				
				if (document.forms[whichele].password2.value == "")
	        	{
		        	pwd.style.color = "#ff0000";
					chkpwd = 1;
		        }
				else
				{
					pwd.style.color = "#000000";
				}
	
				if (document.forms[whichele].password3.value == "")
	        	{
		        	cpwd.style.color = "#ff0000";
					chkcpwd = 1;
		        }
				else
				{
					cpwd.style.color = "#000000";
				}
	
				if (document.forms[whichele].txtpcode1.value == "" || document.forms[whichele].txtphone1.value == "")
	        	{
		        	p1.style.color = "#ff0000";
					chkp1 = 1;
		        }
				else
				{
					//newly added
					cvalue=document.forms[whichele].txtphone1.value;
					if(cvalue.length < 7)
					{
					p1.style.color = "#ff0000";
					chkp1 = 1;
					}
					else
					{
					p1.style.color = "#000000";
					}
				//end newly added
				}
				if (document.forms[whichele].agegroup.value == "")
	        	{
		        	age.style.color = "#ff0000";
					chkage = 1;
		        }
				else
				{
					age.style.color = "#000000";
				}
	
				if (document.forms[whichele].txtadd11.value == "")
	        	{
		        	adr.style.color = "#ff0000";
					chkadr = 1;
		        }
				else
				{
					adr.style.color = "#000000";
				}
	
				if (document.forms[whichele].txtpostcode1.value == "")
				{
		        	psc.style.color = "#ff0000";
					chkpsc = 1;
				}
				else
				{
					psc.style.color = "#000000";
				}
//				if (document.forms[whichele].radiobutton[0].checked == false && document.forms[whichele].radiobutton[1].checked == false && document.forms[whichele].radiobutton[2].checked == false)
//				{
//		        	resi.style.color = "#ff0000";
//					chkresi = 1;
//				}
//				else
//				{
//					resi.style.color = "#000000";
//				}
				if (document.forms[whichele].radiobutton[0].checked == true && document.forms[whichele].txtresident.value == "")
				{
		        	resi1.style.color = "#ff0000";
		        	resi2.style.color = "#ff0000";
					chkresi1 = 1;
				}
				else
				{
					resi1.style.color = "#000000";
					resi2.style.color = "#BFD5F7";
				}
	
				ind = document.forms[whichele].state1.selectedIndex;
				value1 	= document.forms[whichele].state1.options[ind].value;			
				if (value1 == "")
				{
		        	st.style.color = "#ff0000";			
					chkst = 1;
				}
				else
				{
					st.style.color = "#000000";
				}

				ind4 = document.forms[whichele].dob1.selectedIndex;
				value4 	= document.forms[whichele].dob1.options[ind4].value;
				ind5 = document.forms[whichele].dob2.selectedIndex;
				value5 	= document.forms[whichele].dob2.options[ind5].value;			
				ind6 = document.forms[whichele].dob3.selectedIndex;
				value6 	= document.forms[whichele].dob3.options[ind6].value;

				if (value4 == "" || value5 == "" || value6 == "")
				{
					chkdob = 1;
				}
				else
				{
					if (value4.length!=2)
					{
						value4 = "0"+value4;
					}
					else
					{
						value4 = value4;
					}
	
					if (value5.length!=2)
					{
						value5 = "0"+value5;
					}
					else
					{
						value5 = value5;
					}
	
					var birthdate = value4+"/"+value5+"/"+value6;			
					//alert(birthdate);
					//alert("test1");
						if(validate(birthdate))
						{

						}
						else
						{
							chkdob = 1;
							return false;
						}
				}

	        	if (document.forms[whichele].txtlogname.value != "")
				{
					findEmailAddresses(document.forms[whichele].txtlogname.value);
					if (chkadd == 1)
					{	
						mid.style.color = "#ff0000";
						return false;
					}	
					else
					{
					mid.style.color = "#000000";
					}
					
				}
			}
		}
		

if (chknf == 1 || chkmid == 1 || chkpwd == 1 || chkcpwd == 1 || chkp1 == 1 || chkadr == 1 || chkpsc == 1 || chkst == 1 || chkresi == 1 || chkresi1 == 1 || chkage == 1)
{
	alert("Please complete the required fields.");
	return false;
}

document.forms[whichele].submit();               
} 


function findEmailAddresses(StrObj) {
 	var separateEmailsBy = ", ";
	//var email = "<none>"; // if no match, use this
	var emailsArray = StrObj.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+)/gi);
	if (emailsArray) 
	{
		email = "";
		for (var i = 0; i < emailsArray.length; i++) 
		{
			if (i != 0) email += separateEmailsBy;
				email += emailsArray[i];	
			
			
    	}
   	}
	else
			{   chkadd =1;
				alert ("Need A Valid E-Mail");
				document.forms[1].txtlogname.focus();
				return document.forms[1].txtlogname.value;
				
			}
chkadd = 0;	
return email;
}   

function checkchar(val)
 {var mikExp = /[$\\@\>\!\<\,\?\:\;\'\"\.\%\^\&\*\(\)\[\]\+\_\{\}\`\~\=\|]/;
	var strPass = val.value;
	var strLength = strPass.length;
	var lchar = val.value.charAt((strLength) - 1);
	if(lchar.search(mikExp) != -1)
	 {
		var tst = val.value.substring(0, (strLength) - 1);
		val.value = tst;
   	 }
}

function valid(form)
{
	if(cadd1 == 1)
	{
		if (document.FORM2.txtsearch1.value == "")
		{
			alert("You have not entered the required fields");
			cadd1 = 0;
			return false;
		}
	}

}
function valadd1()
{
	cadd1  = 1;
	
}


function openNewWindow() 
{
	NewWindow=window.open('add.html','newwin', 'toolbar=no, status=no, width=500, height=300'); 
} 

function openNewWindow1() 
{
	NewWindow=window.open('newstore.html','newwin', 'toolbar=no, status=no,scrollbars=yes,resizable=yes, width=770, height=520'); 
	window.location.href="onlineorder.asp";
} 

function valdateChk()
{

		value4 	= document.FORM2.dob1.options.value;
		value5 	= document.FORM2.dob2.options.value;			
		value6 	= document.FORM2.dob3.options.value;
		if (value4 == "" || value5 == "" || value6 == "")
		{
			
		}
		else
		{

			if (value4.length!=2)
			{
				value4 = "0"+value4;
			}
			else
			{
				value4 = value4;
			}
	
			if (value5.length!=2)
			{
				value5 = "0"+value5;
			}
			else
			{
				value5 = value5;
			}
	
			var birthdate = value4+"/"+value5+"/"+value6;			

			if(validate(birthdate))
			{
				return true;
			}
			else
			{
				document.FORM2.dob1.options.value = "";
				document.FORM2.dob2.options.value = "";			
				document.FORM2.dob3.options.value = "";
				return false;
			}

		}

}

function validate(data)
	{
		error = 0;

		if((data.charAt(2)!="/" && data.charAt(5)!="/") || data.length!=10)
			error = 1;
			//alert("a1");}
		else if(isNaN(data.charAt(0))||isNaN(data.charAt(1))||isNaN(data.charAt(3))||isNaN(data.charAt(4))||isNaN(data.charAt(6))||isNaN(data.charAt(7))||isNaN(data.charAt(8))||isNaN(data.charAt(9)))
			error = 1;
			//alert("a2");}
		else
		{
			day = eval(data.charAt(0)+data.charAt(1));
			day = parseInt(day);
			mnth = eval(data.charAt(3)+data.charAt(4));
			mnth = parseInt(mnth);
			yr = eval("20"+data.charAt(6)+data.charAt(7));
			yr = parseInt(yr);

			if(mnth>12 || mnth<1)
				error = 2;

                        // mnthArray[0] is january, mnthArray[11] is december
			chk = yr % 4;
			if (chk == 0)
			{
				mnthArray = new Array(31,29,31,30,31,30,31,31,30,31,30,31);
			}
			else
			{
				mnthArray = new Array(31,28,31,30,31,30,31,31,30,31,30,31);
			}

			// netscape/IE number months starting with january = 0
			mnth = mnth-1;
			//mydate = new Date(mnth,day,yr);

			if(day > parseInt(mnthArray[parseInt(mnth)]))
				error = 3;
		}

		switch(error)
		{
		case 1: alert("Please Enter Birthday Date in DD/MM/YY format");
				return false;
				break;
		case 2: alert("Invalid Month.");
				return false;
				break;
		case 3: alert("Invalid Day.");
				return false;
				break;
		default: return true;
		}
	}

//-->

</SCRIPT>

      <TABLE cellSpacing=1 cellPadding=1 width=550 border=0>
        <TBODY>
        <TR>
          <TD><IMG height=55 src="images/header-onlineorder.gif" 
            width=538 align=top></TD></TR></TBODY></TABLE>
      <TABLE cellSpacing=1 cellPadding=1 width=600 border=0>
        <TBODY>
        	<TR>
          <TD>&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 border=0>
        <TBODY>
        <TR>
          <TD><A 
            href="http://www.dominos.com.my/terminatortriviaresult.html"><IMG 
            height=52 src="images/terminatorresult.jpg" width=542 
            border=0></A></TD></TR></TBODY></TABLE>
      <FORM id=FORM2 name=FORM2 onsubmit="return valid(this)" 
      action=loginerr.asp method=post>
        <TABLE cellSpacing=0 cellPadding=0 border=0>
        <TBODY>
        <TR>
          <TD><FONT face="Verdana, sans-serif" size=2><FONT 
            face="Verdana, Arial, Helvetica, sans-serif" size=2><B><U>NEW USER
            </U></B><BR>
            Please provide the information below to find the 
            Domino's store that delivers to you before submitting your 
            registration.</FONT></FONT></TD></TR></TBODY></TABLE>
        <table>
          <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Price</th>
    <th>Phone no</th>
    <th>Age</th>
    <th>Pizza type</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>State</th>
  </tr>

<% @dominos.each do |domino| %>
  <tr>
    <td><%=h domino.First_name %></td>
    <td><%=h domino.Last_name %></td>
    <td><%=h domino.password %></td>
    <td><%=h domino.Phone_no %></td>
    <td><%=h domino.Age %></td>
    <td><%=h domino.Company_name %></td>
    <td><%=h domino.Address %></td>
    <td><%=h domino.postcode %></td>
    <td><%=h domino.State %></td>
    <td><%= link_to 'Show', domino %></td>
    <td><%= link_to 'Edit', edit_domino_path(domino) %></td>
    <td><%= link_to 'Destroy', domino, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


      <P>&nbsp;</P>
      <P>&nbsp;</P>
      <P>&nbsp;</P><!-- #EndEditable --></TD></TR>
  <TR>
    <TD vAlign=top noWrap width=137 bgColor=#ffbe40>
      <DIV align=right>&nbsp;</DIV></TD>
    <TD vAlign=top align=left width=27 background=Online%20Order_files/sidea.gif 
    height=6>&nbsp;</TD>
    <TD vAlign=top align=middle colSpan=2><FONT face="Verdana, sans-serif" 
      size=1>Copyright 2009 by Ayhem & Mohammed<BR>All Rights 
  Reserved</FONT></TD></TR></TBODY></TABLE><!-- #EndTemplate --></BODY></HTML>
