
<h1>New Order</h1>

<% form_for(@domino) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :First_name %><br />
    <%= f.text_field :First_name %>
  </p>
  <p>
    <%= f.label :Last_name %><br />
    <%= f.text_field :Last_name %>
  </p>
  <p>
    <%= f.label :Phone_no %><br />
    <%= f.text_field :Phone_no %>
  </p>
  <p>
    <%= f.label :Num of Pizza%><br />
    <%= f.text_field :Age %>
  </p>
  <p>
    <%= f.label :Address %><br />
    <%= f.text_area :Address %>
  </p>
  <p>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </p>
  <p>
    <%= f.label :State %><br />
    <%= f.text_field :State %>
  </p>
  <p>
    <%= f.label :Pizza_Type %><br />
    <%= f.text_field :Company_name %>
  </p>
   <p>
    <%= f.label :price%><br />
    <%= f.text_field :password %>
  </p>
    <%= f.submit 'Create' %>
    
    
  </p>
<% end %>
 
<%= link_to 'Back', dominos_path %>

